node_modules/
dist/
build/
out/
*.log
.env
.DS_Store
*.exe
*.dmg
*.deb
*.rpm
*.AppImage
packages/*/node_modules/
packages/*/dist/
packages/*/build/
packages/*/out/
packages/server/dist/LauncherServerConfig.hjson
packages/server/dist/profiles/*.json
packages/server/dist/logs/
packages/server/dist/modules/
